// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$yellow: #f1cb3d;
$orange: #F69525;
$primary: $orange !default;

$body-bg: $white !default;
$body-color: #667D8C !default;

$link-color: $body-color;
$link-decoration: none !default;
$link-hover-color: $primary;
$link-hover-decoration: none !default;
